* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(24, 24, 24);
  /* overflow: hidden; */
}
h2 {
  text-align: center;
}
.container {
  position: relative;
  width: 100vw;
  height: auto;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
}
.container-box {
  min-width: 250px;
  max-width: 500px;
  /* background: rgb(24, 24, 24); */
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin: 20px;
  border: 2px solid rgba(172, 255, 47, 0.5);
  background-color: rgba(172, 255, 47, 0.2);
  border-radius: 10px;
  width: 90%;

  /* animation: RevealOnScroll ease-in-out both;
  animation-timeline: view();
  animation-range: entry 100% cover 50%; */
}
.box-l {
  animation: RevealOnScrollLeft 2s ease-in-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}
.box-r {
  animation: RevealOnScrollRigth ease-in both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}
h1,
p {
  color: rgba(245, 245, 245, 0.7);
  padding: 10px;
}
/* keyframes animations */

@keyframes RevealOnScrollLeft {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(105%);
  }
}
@keyframes RevealOnScrollRigth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(105%);
  }
}
